@page "/test-generated"
@using EasyAppDev.Blazor.Icons.Lucide
@using EasyAppDev.Blazor.Icons.Bootstrap

<h3>Test Generated Icons</h3>

<!-- Try using generated components -->
<Activity />
<Airplay />
<House />
<Person />

<p>If you see icons above, source generation is working!</p>
